@import "tailwindcss";


.bg-grid-pattern {
  background-size: 60px 60px; /* Slightly larger grid for better visibility */
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.12) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 1px, transparent 1px);
  
  /* Black 50% means the grid stays fully visible for the top half of the screen */
  mask-image: linear-gradient(to bottom right, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom right, black 50%, transparent 100%);
}